@import './themify-icons.css';
@import './ionicons.css';
@import './animations.css';

@font-face {
  font-family: 'Cabin';
  src:  url('Cabin-Bold.ttf') format('ttf'),
        url('myfont.woff') format('woff');
}
// General Styles 
$header-purple: #5b32b4;
$red: #fb3979;
$grey: #726a84;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: .5em;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  font-size: 16px;
}

h1 {
  font-size: 100px;
  line-height: 1.5;
  color: #fff;
  font-weight: bold;
  width: 100%;
}

h2 {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  // width: 100%;
  color: $header-purple;
}

h4 {
  color: $header-purple;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 15px;
}

h5 {
  color: $header-purple;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5;
}

p {
  color: $grey;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

hr {
    color: $red;
    width: 100px;
    text-align: center;
    border: 1px solid $red;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

.fab {
  font-size: 24px;
  color: $grey;
}

section h2 {
  width: 100%;
}

.initial-header {
  #logo {
    font-size: 70px;
  }
}

.fixed-header {
  margin-top: 0;
  align-items: center;
  background-color: #884bdf;
  z-index: 3;
  #logo {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 0;
  }
}

// Navbar Styles
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 70px;
  position: fixed;
  padding: 0 4%;
  z-index: 1;
  #logo {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
  }
  nav {
    display: flex;
    flex-direction: row;
    li {
      margin: 0 15px;
      display: inline-block;
      list-style: none;
      a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
      }
      .btn {
        margin-left: 50px;
        padding: 15px 50px;
        border: 2px solid #a883e9;
        border-radius: 24px 24px 24px 0;
      }
    }
  }
}


#home {
  height: 100vh;
  width: 100%;
  padding: 285px 12.5% 0 12.5%;
  position: relative;
  background-image: url(../img/bg-img/welcome-bg.png);
  background-size: cover;
  #welcome-message {
    margin-bottom: 100px;
    p {
      color: white;
      font-size: 16px;
      margin-bottom: 1rem;
    }
    #big-c {
      position: absolute;
      top: 149px;
      left: 158px;
      font-size: 332px;
      font-weight: 900;
      opacity: .1;
      // z-index: -1;
      color: #fff;
    }
  }
  img {
    animation: phone-slide-in 1s linear 500ms;
    position: absolute;
    bottom: -120px;
    right: 55px;
    width: 45%;
    height: auto;
  }
  .email {
    background-color: #9572e8;
    height: 50px;
    border: none;
    border-radius: 24px;
    width: 240px;
    padding: 0 30px 0 15px;
  }
  .submit {
    background-color: #fb3979;
    line-height: 1.5;
    min-width: 167px;
    border: none;
    height: 50px;
    font-weight: 500;
    color: #fff;
    border-radius: 24px 24px 24px 0;
    margin-left: 10px;
  }
  ::placeholder {
    color: #cec1f4;
    opacity: 1;
    font-size: 16px;
  }
}

#about {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 260px;
    margin: 1.5%;
    border: 1px solid #eff2f6;
    border-radius: 40px 40px 40px 0;
    padding: 40px;
    p {
      text-align: center;
    }
    i {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 25px;
      color:#fb397d;
    }
  }
  article:hover {
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
  }
}

#app-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px;
  img {
    width: 540px;
    height: 459px;
    flex-basis: 50%;
  }
  article {
    height: auto;
    width: 35%;
    margin: 0 5%;
    h2 {
      width: 445px;
      text-align: left;
      line-height: 1.2;
      margin-bottom: .5em;
    }
    p {
      width: 445px;
      text-align: left;
      margin-bottom: 3em;
    }
    div {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      a {
        display: flex;
        border: 1px solid #eff2f6;
        border-radius: 30px 30px 30px 0;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        height: 60px;
        width: 183px;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        text-decoration: none;
        margin-left: 15px;
        color: $grey;
        &:hover {
          border: none;
          box-shadow: none;
          background-color: $red;
          color: #fff;
          transition-duration: 500ms;
          p {
            color: #fff;
          }
          i {
            color: #fff;
          }
        }
        p {
          font-size: 16px;
          line-height: 1;
          margin-bottom: 0;
          margin-left: 10px;
          span {
            display: block;
            font-size: 12px;
          }
        }
      } 
    }
  }
}

// Features Section
.feature-grid {
  padding: 0 80px;
  margin: 60px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(350px);
  grid-gap: 3em;
  summary {
    i {
        float: left;
        font-size: 30px;
        display: inline-block;
        font-weight: 400;
        color:#fb397d;
        margin-right: 10px;
    }
    h5 {
      display: inline-block;
    }
  }
}

// Video Section

#video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  iframe {
    border: 20px solid #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 2;
  }
}

// Cool Facts Section

#cool-facts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  padding: 180px 0 80px 0;
  margin-top: -150px;
  background: linear-gradient(to left, #7873ed, #a865e1);
  .cool-fact {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 255px;
    height: 108px;
    h3 {
      font-size: 60px;
      color: #fff;
      line-height: 1;
      font-weight: 300;
    }
    .fact-content{
      margin-left: 1em;
      p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 0;
        text-transform: uppercase;
      }
      i {
        font-size: 36px;
        color: #fff;
      }
    }
  }
}

#screenshots {
  padding: 100px 0;
  h2 {
    text-align: center;
    line-height: 1.2;
  }
  hr {
    color: $red;
    width: 100px;
    text-align: center;
    border: 1px solid $red;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .carousel {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
  }
  img {
    width: 212px;
    height: 377px;
  }
}

#pricing {
  background-color: #f5f9fc;
  padding: 100px 0;
  h2 {
    text-align: center;
    line-height: 1.2;
  }
  hr {
    color: $red;
    width: 100px;
    text-align: center;
    border: 1px solid $red;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // Pricing Plan Card Styles
  // Pricing Plans are displayed as a header, with an h5 showing
  // the name of the plan, an h4 showing the price, and an unordered
  // list displaying the facts about the plan.

.card.selected-price {
  .header {
    background-color: #a865e1;
    h4, h5, span {
      color: #fff;
    }
  }
  ul {
   li {
    &:last-child {
      background-color: #a865e1;
    }
    }
  }
}

  .card {
    background-color: #fff;
    text-align: center;
    width: 277px;
    height: 440px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 30px 30px 30px 0;
    .header {
      padding: 32px 0;
      border-radius: 30px 30px 0 0;
      span {
        display: inline;
        line-height: 1.5;
        color: $red;
        font-size: 18px;
      }
      h5 {
        font-size: 18px;
      }
      h4 {
        font-size: 48px;
        color: $red;
      }
    }
    ul {
      li {
        list-style: none;
        padding: 10px 0;
        border: .5px solid #eee;
        color: #726a84;
        font-size: 16px;
        &:last-child {
          border: none;
          background-color: #726a84;
          border-radius: 0 0 30px 0;
          color: #fff;
        }
      }
    }
  }
}

// Testimonials Section
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  flex-wrap: wrap;
  .fa-quote-left {
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: #897ceb;
    margin-bottom: 40px;
  }
  .quote {
    width: 100%;
    font-size: 22px;
    max-width: 1000px;
    margin-bottom: 15px;
    text-align: center;
  }
  .stars {
    width: 100%;
    text-align: center;
    display: block;
  }
  .stars i {
    text-align: center; 
    display: inline-block;
    color: #f1b922;
  }
  h5 {
    text-align: center;
    width: 100%;
  }
  .job-title {
    width: 100%;
    text-align: center;
    color: #b5aec4;
    font-size: 16px;
  }
}

.image-wheel {
  img {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
}

// Monthly Membership Section
#monthly-membership {
  height: 200px;
  padding: 60px 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, #7873ed, #a865e1);
  h2 {
    font-size: 2.5em;
    line-height: 1.2;
    font-weight: 300;
    color: #fff;
  }
  p {
    font-size: 1em;
    line-height: 1;
    color: #fff;
  }
  a {
    color: $red;
    text-decoration: none;
    font-size: 1em;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 30px 30px 30px 0;
  }
}

.team-grid {
  padding: 0 100px 0 50px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 2em;
  justify-content: center;
  margin-bottom: 100px;
  img {
    border-radius: 24px 24px 24px 0;
    border: none;
    width: 100%;
  }
  h4 {
    margin-top: 20px;
  }
  p {
    color: #b5aec4;
    line-height: 1.5;
  }
}

#contact-area {
  background-color: #f5f9fc;
  display: flex;
  padding: 100px;
  width: 100%;
  justify-content: space-around;
  .info {
    width: 45%;
    h2 {
      text-align: left;
    }
    hr {
      text-align: left;
    }
    .offer {
      margin-bottom: 50px;
    }
    p {
      margin-bottom: 10px;
    }
    span {
      font-size: 20px;
      color: $header-purple;
      line-height: 1.5;
    }
  }
  form {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .form-control {
      width: 100%;
      height: 60px;
      padding: 15px;
      margin: 1em 0;
      border-radius: 30px 30px 30px 0;
      border: 1px solid #eee;
      }
    .form-control::placeholder {
      color: #cec1f4;
      font-size: 16px;
    }
    textarea.form-control {
      height: 10em;
      font-family: 'Cabin', sans-serif;
    }
    .submit {
      border-radius: 30px 30px 30px 0;
      border: none;
      text-align: center;
      padding: 15px 30px;
      background-color: $red;
      color: #fff;
      // height: 60px;
      width:  60px;
      width: 185px;
      &:hover {
        background-color: #5b32b4;
        transition-duration: 500ms;
      }
    }
  }
}