@import './themify-icons.css';

// General Styles 
$header-purple: #5b32b4;
$red: #fb3979;
$grey: #726a84;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  font-size: 16px;
}

h1 {
  font-size: 100px;
  line-height: 1.5;
  color: #fff;
  font-weight: bold;
  width: 100%;
}

h2 {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  // width: 100%;
  color: $header-purple;
}

p {
  color: $grey;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
h4 {
  color: $header-purple;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}

.fab {
  font-size: 24px;
  color: $grey;
}

section h2 {
  width: 100%;
}

// Navbar Styles

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  // background-color: #884bdf;
  width: 100%;
  height: 70px;
  position: fixed;
  padding: 0 4%;
  z-index: 1;
  #logo {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
  }
  nav {
    display: flex;
    flex-direction: row;
    li {
      margin: 0 15px;
      display: inline-block;
      list-style: none;
      a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
      }
      .btn {
        margin-left: 50px;
        padding: 15px 50px;
        border: 2px solid #a883e9;
        border-radius: 24px 24px 24px 0;
      }
    }
  }
}


#home {
  height: 100vh;
  width: 100%;
  padding: 285px 12.5% 0 12.5%;
  position: relative;
  background-image: url(../img/bg-img/welcome-bg.png);
  background-size: cover;
  #welcome-message {
    margin-bottom: 100px;
    p {
      color: white;
      font-size: 16px;
      margin-bottom: 1rem;
    }
    #big-c {
      position: absolute;
      top: 149px;
      left: 158px;
      font-size: 332px;
      font-weight: 900;
      opacity: .1;
      // z-index: -1;
      color: #fff;
    }
  }
  img {
    position: absolute;
    bottom: -165px;
    right: 85px;
    width: 45%;
    height: auto;
  }
  .email {
    background-color: #9572e8;
    height: 50px;
    border: none;
    border-radius: 24px;
    width: 240px;
    padding: 0 30px 0 15px;
  }
  .submit {
    background-color: #fb3979;
    line-height: 1.5;
    min-width: 167px;
    border: none;
    height: 50px;
    font-weight: 500;
    color: #fff;
    border-radius: 24px 24px 24px 0;
    margin-left: 10px;
  }
  ::placeholder {
    color: #cec1f4;
    opacity: 1;
    font-size: 16px;
  }
}

#about {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 260px;
    margin: 1.5%;
    border: 1px solid #eff2f6;
    border-radius: 40px 40px 40px 0;
    padding: 40px;
    p {
      text-align: center;
    }
    i {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 25px;
      color:#fb397d;
    }
  }
  article:hover {
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
  }
}

#features {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px;
  img {
    width: 540px;
    height: 459px;
    flex-basis: 50%;
  }
  article {
    width: 35%;
    flex-basis: 40%;
    margin: 0 5%;
    h2 {
      width: 445px;
      text-align: left;
      line-height: 1.2;
      margin-bottom: .5em;
    }
    p {
      width: 445px;
      text-align: left;
      margin-bottom: 3em;
    }
    div {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      a {
        display: flex;
        border: 1px solid #eff2f6;
        border-radius: 30px 30px 30px 0;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        height: 60px;
        width: 183px;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        text-decoration: none;
        margin-left: 15px;
        color: $grey;
        &:hover {
          border: none;
          box-shadow: none;
          background-color: $red;
          color: #fff;
          transition-duration: 500ms;
          p {
            color: #fff;
          }
          i {
            color: #fff;
          }
        }
        p {
          font-size: 16px;
          line-height: 1;
          margin-bottom: 0;
          margin-left: 10px;
          span {
            display: block;
            font-size: 12px;
          }
        }
      } 
    }
  }
}