@import url(./themify-icons.css);
@import url(./ionicons.css);
@import url(./animations.css);
@font-face {
  font-family: 'Cabin';
  src: url("Cabin-Bold.ttf") format("ttf"), url("myfont.woff") format("woff"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Cabin', sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: .5em; }

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  font-size: 16px; }

h1 {
  font-size: 100px;
  line-height: 1.5;
  color: #fff;
  font-weight: bold;
  width: 100%; }

h2 {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  color: #5b32b4; }

h4 {
  color: #5b32b4;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 15px; }

h5 {
  color: #5b32b4;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5; }

p {
  color: #726a84;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; }

hr {
  color: #fb3979;
  width: 100px;
  text-align: center;
  border: 1px solid #fb3979;
  border-radius: 24px;
  margin: 0 auto;
  margin-bottom: 50px; }

.fab {
  font-size: 24px;
  color: #726a84; }

section h2 {
  width: 100%; }

.initial-header #logo {
  font-size: 70px; }

.fixed-header {
  margin-top: 0;
  align-items: center;
  background-color: #884bdf;
  z-index: 3; }
  .fixed-header #logo {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 0; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 70px;
  position: fixed;
  padding: 0 4%;
  z-index: 1; }
  @media screen and (max-width: 1200px) {
    header {
      padding: 0 6%; } }
  header #logo {
    font-size: 70px;
    font-weight: 700;
    color: #fff; }
    @media screen and (max-width: 1200px) {
      header #logo {
        font-size: 48px;
        align-self: flex-start; } }
  @media screen and (max-width: 900px) {
    header .responsive li a:not(.btn) {
      display: block; } }
  header responsive {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: flex-end;
    height: 60px;
    width: 100%;
    border-radius: 24px; }
    header responsive li {
      width: 100%;
      float: none;
      text-align: right;
      padding: 10px 0; }
      header responsive li:not(:first-child) {
        text-align: left;
        background-color: #5b32b4; }
        header responsive li:not(:first-child) a {
          padding: 0 40px; }
  header nav {
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 900px) {
      header nav li a {
        display: none; }
      header nav li a.icon {
        display: block;
        font-size: 20px; } }
    header nav li {
      margin: 0 15px;
      display: inline-block;
      list-style: none; }
      @media screen and (max-width: 1200px) {
        header nav li {
          margin: 0 8px; } }
      @media screen and (max-width: 900px) {
        header nav li {
          margin: 0; } }
      header nav li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: #fff; }
      header nav li .btn {
        margin-left: 50px;
        padding: 14px 45px;
        border: 2px solid #a883e9;
        border-radius: 24px 24px 24px 0; }
        @media screen and (max-width: 1200px) {
          header nav li .btn {
            padding: 7px 35px;
            font-size: 14px;
            margin-left: 0; } }
      header nav li .icon {
        display: none; }

#home {
  height: 100vh;
  width: 100%;
  padding: 285px 12.5% 0 12.5%;
  position: relative;
  background-image: url(../img/bg-img/welcome-bg.png);
  background-size: cover; }
  #home #welcome-message {
    margin-bottom: 100px; }
    #home #welcome-message p {
      color: white;
      font-size: 16px;
      margin-bottom: 1rem; }
    #home #welcome-message #big-c {
      position: absolute;
      top: 149px;
      left: 158px;
      font-size: 332px;
      font-weight: 900;
      opacity: .1;
      color: #fff; }
  #home img {
    animation: phone-slide-in 1s linear 500ms;
    position: absolute;
    bottom: -120px;
    right: 55px;
    width: 45%;
    height: auto; }
  #home .email {
    background-color: #9572e8;
    height: 50px;
    border: none;
    border-radius: 24px;
    width: 240px;
    padding: 0 30px 0 15px; }
  #home .submit {
    background-color: #fb3979;
    line-height: 1.5;
    min-width: 167px;
    border: none;
    height: 50px;
    font-weight: 500;
    color: #fff;
    border-radius: 24px 24px 24px 0;
    margin-left: 10px; }
  #home ::placeholder {
    color: #cec1f4;
    opacity: 1;
    font-size: 16px; }

#about {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0; }
  #about article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 260px;
    margin: 1.5%;
    border: 1px solid #eff2f6;
    border-radius: 40px 40px 40px 0;
    padding: 40px; }
    #about article p {
      text-align: center; }
    #about article i {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 25px;
      color: #fb397d; }
  #about article:hover {
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08); }

#app-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px; }
  #app-store img {
    width: 540px;
    height: 459px;
    flex-basis: 50%; }
  #app-store article {
    height: auto;
    width: 35%;
    margin: 0 5%; }
    #app-store article h2 {
      width: 445px;
      text-align: left;
      line-height: 1.2;
      margin-bottom: .5em; }
    #app-store article p {
      width: 445px;
      text-align: left;
      margin-bottom: 3em; }
    #app-store article div {
      display: flex;
      width: 100%;
      flex-wrap: wrap; }
      #app-store article div a {
        display: flex;
        border: 1px solid #eff2f6;
        border-radius: 30px 30px 30px 0;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        height: 60px;
        width: 183px;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        text-decoration: none;
        margin-left: 15px;
        color: #726a84; }
        #app-store article div a:hover {
          border: none;
          box-shadow: none;
          background-color: #fb3979;
          color: #fff;
          transition-duration: 500ms; }
          #app-store article div a:hover p {
            color: #fff; }
          #app-store article div a:hover i {
            color: #fff; }
        #app-store article div a p {
          font-size: 16px;
          line-height: 1;
          margin-bottom: 0;
          margin-left: 10px; }
          #app-store article div a p span {
            display: block;
            font-size: 12px; }

.feature-grid {
  padding: 0 80px;
  margin: 60px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(350px);
  grid-gap: 3em; }
  .feature-grid summary i {
    float: left;
    font-size: 30px;
    display: inline-block;
    font-weight: 400;
    color: #fb397d;
    margin-right: 10px; }
  .feature-grid summary h5 {
    display: inline-block; }

#video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0; }
  #video iframe {
    border: 20px solid #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 2; }

#cool-facts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  padding: 180px 0 80px 0;
  margin-top: -150px;
  background: linear-gradient(to left, #7873ed, #a865e1); }
  #cool-facts .cool-fact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 255px;
    height: 108px; }
    #cool-facts .cool-fact h3 {
      font-size: 60px;
      color: #fff;
      line-height: 1;
      font-weight: 300; }
    #cool-facts .cool-fact .fact-content {
      margin-left: 1em; }
      #cool-facts .cool-fact .fact-content p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 0;
        text-transform: uppercase; }
      #cool-facts .cool-fact .fact-content i {
        font-size: 36px;
        color: #fff; }

#screenshots {
  padding: 100px 0; }
  #screenshots h2 {
    text-align: center;
    line-height: 1.2; }
  #screenshots hr {
    color: #fb3979;
    width: 100px;
    text-align: center;
    border: 1px solid #fb3979;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 50px; }
  #screenshots .carousel {
    display: flex;
    padding: 0 100px;
    justify-content: space-between; }
  #screenshots img {
    width: 212px;
    height: 377px; }

#pricing {
  background-color: #f5f9fc;
  padding: 100px 0; }
  #pricing h2 {
    text-align: center;
    line-height: 1.2; }
  #pricing hr {
    color: #fb3979;
    width: 100px;
    text-align: center;
    border: 1px solid #fb3979;
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 50px; }
  #pricing .container {
    display: flex;
    justify-content: center;
    align-items: center; }
  #pricing .card.selected-price .header {
    background-color: #a865e1; }
    #pricing .card.selected-price .header h4, #pricing .card.selected-price .header h5, #pricing .card.selected-price .header span {
      color: #fff; }
  #pricing .card.selected-price ul li:last-child {
    background-color: #a865e1; }
  #pricing .card {
    background-color: #fff;
    text-align: center;
    width: 277px;
    height: 440px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 30px 30px 30px 0; }
    #pricing .card .header {
      padding: 32px 0;
      border-radius: 30px 30px 0 0; }
      #pricing .card .header span {
        display: inline;
        line-height: 1.5;
        color: #fb3979;
        font-size: 18px; }
      #pricing .card .header h5 {
        font-size: 18px; }
      #pricing .card .header h4 {
        font-size: 48px;
        color: #fb3979; }
    #pricing .card ul li {
      list-style: none;
      padding: 10px 0;
      border: .5px solid #eee;
      color: #726a84;
      font-size: 16px; }
      #pricing .card ul li:last-child {
        border: none;
        background-color: #726a84;
        border-radius: 0 0 30px 0;
        color: #fff; }

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  flex-wrap: wrap; }
  #testimonials .fa-quote-left {
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: #897ceb;
    margin-bottom: 40px; }
  #testimonials .quote {
    width: 100%;
    font-size: 22px;
    max-width: 1000px;
    margin-bottom: 15px;
    text-align: center; }
  #testimonials .stars {
    width: 100%;
    text-align: center;
    display: block; }
  #testimonials .stars i {
    text-align: center;
    display: inline-block;
    color: #f1b922; }
  #testimonials h5 {
    text-align: center;
    width: 100%; }
  #testimonials .job-title {
    width: 100%;
    text-align: center;
    color: #b5aec4;
    font-size: 16px; }

.image-wheel img {
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); }

#monthly-membership {
  height: 200px;
  padding: 60px 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, #7873ed, #a865e1); }
  #monthly-membership h2 {
    font-size: 2.5em;
    line-height: 1.2;
    font-weight: 300;
    color: #fff; }
  #monthly-membership p {
    font-size: 1em;
    line-height: 1;
    color: #fff; }
  #monthly-membership a {
    color: #fb3979;
    text-decoration: none;
    font-size: 1em;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 30px 30px 30px 0; }

.team-grid {
  padding: 0 100px 0 50px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 2em;
  justify-content: center;
  margin-bottom: 100px; }
  .team-grid img {
    border-radius: 24px 24px 24px 0;
    border: none;
    width: 100%; }
  .team-grid h4 {
    margin-top: 20px; }
  .team-grid p {
    color: #b5aec4;
    line-height: 1.5; }

#contact-area {
  background-color: #f5f9fc;
  display: flex;
  padding: 100px;
  width: 100%;
  justify-content: space-around; }
  #contact-area .info {
    width: 45%; }
    #contact-area .info h2 {
      text-align: left; }
    #contact-area .info hr {
      text-align: left; }
    #contact-area .info .offer {
      margin-bottom: 50px; }
    #contact-area .info p {
      margin-bottom: 10px; }
    #contact-area .info span {
      font-size: 20px;
      color: #5b32b4;
      line-height: 1.5; }
  #contact-area form {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #contact-area form .form-control {
      width: 100%;
      height: 60px;
      padding: 15px;
      margin: 1em 0;
      border-radius: 30px 30px 30px 0;
      border: 1px solid #eee; }
    #contact-area form .form-control::placeholder {
      color: #cec1f4;
      font-size: 16px; }
    #contact-area form textarea.form-control {
      height: 10em;
      font-family: 'Cabin', sans-serif; }
    #contact-area form .submit {
      border-radius: 30px 30px 30px 0;
      border: none;
      text-align: center;
      padding: 15px 30px;
      background-color: #fb3979;
      color: #fff;
      width: 60px;
      width: 185px; }
      #contact-area form .submit:hover {
        background-color: #5b32b4;
        transition-duration: 500ms; }

footer {
  padding-bottom: 100px; }
  footer .logo {
    font-size: 72px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px; }
  footer ul {
    text-align: center;
    margin-bottom: 20px; }
    footer ul li {
      display: inline-block; }
      footer ul li .fab {
        background-color: #884bdf;
        color: #fff;
        margin: 10px 5px;
        font-size: 18px;
        padding: 10px;
        height: 40px;
        width: 40px;
        border-radius: 10px 10px 10px 0; }
        footer ul li .fab:hover {
          background-color: #fb3979; }
      footer ul li a {
        text-decoration: none;
        color: #726a84;
        padding: 0 7.5px;
        border-right: 2px solid #726a84; }
  footer p {
    text-align: center; }

/*# sourceMappingURL=main.css.map */
